registry=https://pkgs.dev.azure.com/giteshp19/Eventify/_packaging/eventify-packages/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/giteshp19/Eventify/_packaging/eventify-packages/npm/registry/:username=giteshp19
//pkgs.dev.azure.com/giteshp19/Eventify/_packaging/eventify-packages/npm/registry/:_password=[NzhaODJ0NlVzdld4aTY2NWV1eXl0VHNsUzJEcTVITXg4SWhXWDlKdnhoRWUyZjZ4SDd6bUpRUUo5OUJIQUNBQUFBQUFBQUFBQUFBU0FaRE8xZmYz]
//pkgs.dev.azure.com/giteshp19/Eventify/_packaging/eventify-packages/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/giteshp19/Eventify/_packaging/eventify-packages/npm/:username=giteshp19
//pkgs.dev.azure.com/giteshp19/Eventify/_packaging/eventify-packages/npm/:_password=[NzhaODJ0NlVzdld4aTY2NWV1eXl0VHNsUzJEcTVITXg4SWhXWDlKdnhoRWUyZjZ4SDd6bUpRUUo5OUJIQUNBQUFBQUFBQUFBQUFBU0FaRE8xZmYz]
//pkgs.dev.azure.com/giteshp19/Eventify/_packaging/eventify-packages/npm/:email=npm requires email to be set but doesn't use the value
; end auth token